body,
ul,
li {
    font-family: tahoma;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(225, 222, 199);
}

header {
    background-color: rgb(225, 222, 199);
    text-align: center;
    position: relative;
    width: 100%;
}

.title {
    color: white;
    width: 100%;
    background-color: rgb(35, 32, 24);
    display: inline-block;
    padding: 2px 0px;
    position: sticky;
    top: 0px;
}

.banner {
    height: 300px;
    overflow: hidden;
}

.banner img {
    margin: 0;
    width: 100%;
    object-fit: cover;
}

.newItem {
    background-color: rgb(225, 222, 199);
    padding: 30px 40px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.newItem:after {
    content: "";
    display: table;
    clear: both;
}

#treeName,
#treeQuantity,
#treeGroup,
#treeOrigin {
    margin: 0;
    border: 1px solid rgb(35, 32, 24);
    padding: 10px;
    font-size: 16px;
}

#treeName {
    width: 25%;
}

#treeQuantity {
    width: 8%;
}

#treeGroup,
#treeOrigin {
    width: 15%;
    background-color: white;
}

.addBtn,
.calcBtn {
    padding: 9px 12px;
    background-color: rgb(35, 32, 24);
    color: white;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 2px;
    border: none;
}

.addBtn:hover,
.calcBtn:hover {
    background-color: #2ab53a;
    color: white;
}

.items {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 10px;
    font-size: 18px;
    transition: 0.2s;
    text-align: start;
}

table {
    background-color: white;
    width: 80%;
}

tr:nth-child(odd) {
    background-color: #eee;
}

th:nth-child(1) {
    width: 25%;
}

tr:hover {
    background: rgb(200, 199, 199);
}

.close:hover {
    color: #f44336;
    font-weight: bolder;
}

.messages {
    text-align: center;
    margin-top: 10px;
}

#errorBox {
    color: #b31616;
    margin-bottom: 5px;
}

#totalBox {
    font-weight: bold;
}
